@import "variables";

$directions: (
                ("t", "top"),
                ("r", "right"),
                ("b", "bottom"),
                ("l", "left"),
);

@for $i from 0 through 100 {
  $padding-increment: $padding-base * $padding-multiplier * $i;
  $margin-increment: $margin_base * $margin-multiplier * $i;

  @each $abbr, $dir in $directions {
    .m#{$abbr}-#{$i} {
      @each $single_dir in $dir {
        margin-#{$single_dir}: #{$margin-increment}em;
      }
    }
    .p#{$abbr}-#{$i} {
      @each $single_dir in $dir {
        padding-#{$single_dir}: #{$padding-increment}em;
      }
    }
    .rm#{$abbr}-#{$i} {
      @each $single_dir in $dir {
        margin-#{$single_dir}: #{$margin-increment}rem;
      }
    }
    .rp#{$abbr}-#{$i} {
      @each $single_dir in $dir {
        padding-#{$single_dir}: #{$padding-increment}rem;
      }
    }
  }

  .m-#{$i} {
    margin: #{$margin-increment}em;
  }

  .rm-#{$i} {
    margin: #{$margin-increment}rem;
  }

  .p-#{$i} {
    padding: #{$padding-increment}em;
  }

  .rp-#{$i} {
    padding: #{$padding-increment}rem;
  }

  .mx-#{$i} {
    margin-left: #{$margin-increment}em;
    margin-right: #{$margin-increment}em;
  }

  .my-#{$i} {
    margin-top: #{$margin-increment}em;
    margin-bottom: #{$margin-increment}em;
  }

  .px-#{$i} {
    padding-left: #{$padding-increment}em;
    padding-right: #{$padding-increment}em;
  }

  .py-#{$i} {
    padding-top: #{$padding-increment}em;
    padding-bottom: #{$padding-increment}em;
  }

  .rmx-#{$i} {
    margin-left: #{$margin-increment}rem;
    margin-right: #{$margin-increment}rem;
  }

  .rmy-#{$i} {
    margin-top: #{$margin-increment}rem;
    margin-bottom: #{$margin-increment}rem;
  }

  .rpx-#{$i} {
    padding-left: #{$padding-increment}rem;
    padding-right: #{$padding-increment}rem;
  }

  .rpy-#{$i} {
    padding-top: #{$padding-increment}rem;
    padding-bottom: #{$padding-increment}rem;
  }
}