@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";

@import "variables";
@import "node_modules/bootstrap/scss/variables";

@import "navbar";
@import "project_card";

//
//:root {
//  --bs-emphasis-color-rgb: $brand-color;
//}

.icon-color {
  color: $secondary;
}

.app-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@import '~bootstrap/scss/bootstrap';