.brand-highlight {
  background-color: $light;
  color: $primary;
  padding: 1px 9px 0 11px;
}

.brand-lowlight {
  font-size: 0.6em;
  letter-spacing: 0.1em;
  color: #777777;
  margin: 0 8px;
}

.brand-text {
  color: $primary;
  display: flex;
  align-items: center;
}

.navbar-brand, .navbar {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Source Sans 3", sans-serif;
  letter-spacing: 0.2em;
  display: flex;
  align-items: center;
}

.brand-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  /* This will stack items on top of one another under 768px */
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.navbar-toggler-icon {
  background-image: none !important;
  background-color: $primary;
  height: 3px !important;
  width: 25px !important;
  margin: 10px 0;
  position: relative;
  transition: all 0.35s ease-out;
  transform-origin: center;
}

.navbar-toggler-icon::before {
  display: block;
  background-color: $primary;
  height: 3px;
  content: "";
  position: relative;
  top: -7px;
  transition: all 0.15s ease-out;/*taken down to hide quicker*/
  transform-origin: center;
}

.navbar-toggler-icon::after {
  display: block;
  background-color: $primary;
  height: 3px;
  content: "";
  position: relative;
  top: 4px;
  transition: all 0.35s ease-out;
  transform-origin: center;
}

.navbar-dark .navbar-toggler-icon,
.navbar-dark .navbar-toggler-icon::before,
.navbar-dark .navbar-toggler-icon::after {
  background-color: var(--bs-body-color);
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:hover, .navbar-toggler:focus {
  border: none !important;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  transform: rotate(45deg);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
  transform: rotate(-90deg) translateX(7px);
}