.tech-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* adjust to your needs */
}

.tech-icon {
  flex: 1 0 auto;
}

.projects-card {
  width: 18em;
}

.projects-card .card-body {
  max-height: 24rem;
  overflow: hidden;
}

.markdown-preview {
  font-size: 0.8em;
}

.markdown-preview h1 {
  font-size: 1.1em;
}

.markdown-preview h2 {
  font-size: 1.05em;
}

.markdown-preview h3 {
  font-size: 0.8em;
}

.markdown-preview h4,
.markdown-preview h5,
.markdown-preview h6 {
  font-size: 0.8rem;
}
